.sticky-form-header {
	background-color: #f8f8f8;
	position: sticky;
	top: 0;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
	z-index: 9;
}

/*start:: css animated loader*/
.css-animated-loader {
	border: 2px solid #fff;
	border-radius: 50%;
	float: left;
	border-top: 2px solid transparent;
	width: 15px;
	height: 15px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	display: inline-block;
	margin: 5px;
}
.css-animated-loader.loader-black{
	border: 2px solid #000;
	border-top: 2px solid transparent;
}
.css-animated-loader.loader-absolute-right {
	position: absolute;
	right: 0;
	margin: 10px 15px;
}
  /* Safari */
  @-webkit-keyframes spin {
 0% {
-webkit-transform: rotate(0deg);
}
 100% {
-webkit-transform: rotate(360deg);
}
}
 @keyframes spin {
 0% {
transform: rotate(0deg);
}
 100% {
transform: rotate(360deg);
}
}
/*end:: css animated loader*/

.animation{
	animation: slide-up 0.4s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#myTabContent fieldset, #myTabContent fieldset input.form-control {
	font-size: 0.8rem;
}


#myTabContent fieldset .table-bordered td, #myTabContent fieldset .table-bordered th {
	border: 1px solid #ababab;
}


.dropdown-submenu {
	position: relative;
}

.dropdown-submenu.right> a:after {
	content: ">";
	float: right;
}

.dropdown-submenu.left>a:before {
	display: inline-block;
	vertical-align: unset;
	content: "";
	border-top: .3em solid transparent;
	border-right: .3em solid;
	border-bottom: .3em solid transparent;
	border-left: 0;
}

.dropdown-submenu.right>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: 0px;
	margin-left: 0px;
}

.dropdown-submenu.left>.dropdown-menu {
	top: 0;
	left: -100%;
	margin-top: 0px;
	margin-left: 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.placeholder {
	background: #eee;
	/* border-radius: 1rem; */
	position: relative;
	overflow: hidden;
  }.placeholder:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100px;
	background: linear-gradient(90deg, #eee, #f4f4f4, #eee);
	animation: gradient 1s infinite ease-in-out;
  }.image-placeholder {
	aspect-ratio: 16 / 12;
	margin-bottom: 1rem;
  }.title-placeholder {
	aspect-ratio: 16 / 1.5;
	margin-bottom: 2rem;
  }.text-placeholder {
	aspect-ratio: 16 / 1;
	margin-top: 1rem;
	margin-bottom: 0;
  }@keyframes gradient {
	form {
	  left: 0%;
	}
	
	to {
	  left: 100%;
	}
  }

  .clients .add-new-client {
	
	padding: 14px 10px;
	font-size: 32px;
	font-weight: 900;
	border: dashed gray;
	cursor: pointer;
}

.client-contacts-btn {
	position: absolute;
	top: 5px;
	right: 15px;
}

.client-contacts-btn .badge {
	position: absolute;
}

.card .card-body .light-card{
	
		background-color: rgba(248,248,248,0.4);
		padding: 0 5px;
		border-radius: 5px;
	
}

.vertical-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .slider{
	-webkit-appearance: none;
	width:70%;
	height:12px;
	background:linear-gradient(90deg,rgb(117,254,117) 60%,rgb(214,214,214) 60%);
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	border-radius: 12px;
	box-shadow: 0px 1px 2px 1px gray;
}
.slider:hover{
	opacity: 1;
}
.slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: white;
	cursor: pointer;
	border-radius: 50%;
}

.slider::-moz-range-thumb{
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
	cursor: pointer;
} */
.rating{
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	border: 1px solid black;
	box-sizing: border-box;
	width: fit-content;
	border-right: none;
	background:linear-gradient(to right,#f00,#ff0,#0f0);
}
.rating input {
	display: none;
}

.rating label{
	display: flex;
	cursor: pointer;
	width: 50px;
	height: 40px;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	background: #fff;
	color:#000;
	font-size: 14px;
	font-weight: normal;
	border-right: 1px solid black;
	margin: 0;
}
.rating input[type="radio"]:checked ~ label{
	background:transparent;
}

.rating input[type="radio"]:hover ~ label{
	background:transparent;
}




.badge.matching-skill{
	box-shadow: 1px 1px 10px 5px rgba(0,255,0,0.5);
}

.leave-date.badge hr{
	
		margin: 6px 0 0 0;
		background-color: rgba(255,255,255,0.5);
		height: 5px;
		border: none;
		border-radius: 5px;
	
}

.leave-date.badge hr.half-day{
	width: 50%;
}
.opacity-100{
	opacity: 1;
}
.opacity-75{
	opacity: 0.75;
}
.opacity-50{
	opacity: 0.5;
}
.opacity-25{
	opacity: 0.25;
}
.opacity-0{
	opacity: 0;
}