@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?tgt6sl');
	src: url('../fonts/icomoon.eot?tgt6sl#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?tgt6sl') format('truetype'), url('../fonts/icomoon.woff?tgt6sl') format('woff'), url('../fonts/icomoon.svg?tgt6sl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
 [class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
 speak: never;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
.icon-back:before {
	content: "\e900";
}
.icon-forward:before {
	content: "\e901";
}
body {
	font-size: 14px;
	/* font-family: 'Jost', sans-serif; */
	font-family: 'Roboto',"Helvetica Neue";
	color: #2a2a2a;
}
* {
	margin: 0px;
	padding: 0px;
}
a {
	transition: all linear 0.2s;
}

.knowmore {
	background: var(--primary-color);
	color: #fff;
	position: relative;
	overflow: hidden;
	z-index: 0;
}
.knowmore i {
	font-size: 12px;
	margin-left: 5px
}
.btn {
	position: relative;
	overflow: hidden;
	z-index: 0;
}
.knowmore:hover {
	color: #fff;
}
.btn:before {
	content: "";
	background: #333;
	position: absolute;
	left: 0px;
	height: 100%;
	top: 0px;
	width: 0%;
	display: block;
	transition: all linear 0.3s;
	z-index: -1;
}
.btn:hover:before {
	width: 100%;
}
.dashboard_section {
	background: #f4f7fc;
	min-height: 80vh;
	padding: 0px 0px 0px 0px;
}
.dashboard_header {
	min-height: 60px;
	background: #fff;
}
.userinfo-left, .userinfo-right {
	background: #fff;
	/* min-height: 90vh; */
	padding: 15px;
	margin: 15px 0;
}
.userinfo-left{
	padding:0;
}
.dashboard_main {
	padding: 15px 0px;
	min-height: 100vh;
}
.dashboard_section .navbar {
	padding: 0px 15px
}
.profileimg {
	width: 100%;
	height: 200px;
	/* padding:8px; */
	/* margin: 0px auto; */
	position: relative;
}
.profileimg img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}
/* .usename {
	font-size: 22px;
	text-align: center;
	padding: 15px 0px;
	font-weight: 600;
} */
.usename {
	font-size: 22px;
	text-align: center;
	padding: 3px;
	font-weight: 600;
	position: absolute;
	background: rgba(0,0,0,.2);
	width:  100%;
	bottom: 5px;
	overflow: hidden;
	/* margin: 8px; */
	color: #f8f8f8;
}
.profileinfo ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	max-height:200px;
	overflow-y: scroll;
}
.profileinfo ul li {
	display: flex;
	padding: 8px 0px;
	font-size: 16px;
	justify-content: space-between;
	/* border-top: solid 1px #ddd; */
}
.profileinfo ul li span:first-child {
	font-weight: 600;
	color: #000;
}
.profileinfo ul li span {
	display: inline-block;
}
.profileinfo ul.navigation  li {
cursor: pointer;
padding-left: 15px;
}
.profileinfo ul.navigation  li.active {
border-left: 5px solid #5B7EE8;
font-weight: 600;
}
.proheader h4 {
	margin: 0px;
	font-size: 1.2rem;
	color:rgba(0,0,0,1);
}
.proheader {
	justify-content: space-between;
	display: flex;
	margin-bottom:.5rem;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}
.proheader.subheader{
	border-bottom: none;
	font-size: 1rem;
}
.proheader.subheader h5{
	font-size: .8rem;
	font-weight: 600;
}
.proheader a {
	color: #5B7EE8;
	font-size: 1.2rem;
}
.proheader a i {
	font-size: 18px;
}
.proheader a:hover {
	text-decoration: none;
}
.dashboard_header .dropdown-menu {
	right: 0px;
	left: inherit;
	top: 120%;
}
.dashboard_header .nav-link {
	color: #303030;
	font-size: 16px;
}
.editphoto {
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 0px;
	right: 0px;
	background: #333;
}
.editphoto .fleup {
	width: 100%;
	height: 100%;
	opacity: 0;
}
.editphoto i {
	font-size: 21px;
	color: #fff;
	position: absolute;
	left: 10px;
	pointer-events: none;
	top: 4px;
}
.form-control {
	border-radius: 1px;
	font-size: .9rem;
	line-height: .5;
}
.editprofile-form label {
	font-size: 16px;
}
.dashboard-footer {
	background: #fff;
	border-top: solid 1px #ececec;
	padding: 15px 0px;
}
.admindashboard {
}
.admin-apps h2 {
	margin-bottom: 30px;
}
.apps i {
	font-size: 50px;
}
.apps {
	padding: 20px 10px;
	background: #fff;
	text-align: center;
	margin-bottom: 30px;
	display: block;
	color: #323232;
	border-radius: 3px;
}
.apps:hover {
	text-decoration: none;
	color: #323232;
}
.apps h4 {
	font-size: 18px;
	font-weight: 600;
	color: #323232;
	margin-top: 15px;
}
.apps p {
	font-size: 14px;
	color: #999;
	margin: 0px;
}



/*start:: css animated loader*/
.css-animated-loader {
	border: 2px solid #fff;
	border-radius: 50%;
	float: left;
	border-top: 2px solid transparent;
	width: 15px;
	height: 15px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	display: inline-block;
	margin: 5px;
}
  
  /* Safari */
  @-webkit-keyframes spin {
 0% {
-webkit-transform: rotate(0deg);
}
 100% {
-webkit-transform: rotate(360deg);
}
}
 @keyframes spin {
 0% {
transform: rotate(0deg);
}
 100% {
transform: rotate(360deg);
}
}
/*end:: css animated loader*/

.form-group label{
	font-size: .9rem;
	color: rgba(0,0,0,.7);
	font-weight:600;
	margin-bottom: .2rem;
}
.form-group p {
	color:rgba(0,0,0,.6);
	font-size: .9rem;
}

h6.language-heading {
	background-color: rgba(0,0,0,0.03);
	text-align: center;
	padding: 5px;
}

#tree .list-group-item.active ul li{
	background-color: #c8c8c8;
}

#tree li.list-group-item div[data-role="wrapper"]:only-child>span.gj-tree-material-icons-expander:before{
	content: "\f111";
	font: normal normal normal 14px/1 FontAwesome;
}